* {
	font-family: arial;
	margin: 0;
	padding: 0;
}
h2, p { margin: 0; padding: 0 }

header, section, footer {
	overflow: hidden;
	width: 100%;
}
header nav, section article, footer .piePage
{
margin: 0 auto;
    overflow: hidden;
    width: 80%;
}
h2 {
	padding: 0 0 0 1em;
}
.navbar{
	color: gray;
	width: 90%;
}
.nav{
	align-items: left;
	display: flex;
	padding-left: 0;
}
section article .contenedor1 .infoObsequiarte, .formTienda {
	display: inline-block;
	margin: 0 -4px;
	width: 50%;
}
section article .contenedor1 .infoObsequiarte h1 {
	padding: 0 0 .3em 0
}
section div .banner {
	width: 600px;
}
section article .contenedor1 .infoObsequiarte, .formTienda {
	display: inline-block;
	margin: 0 -4px;
	width: 50%;
}

section article .contenedor1 .infoObsequiarte h1 {
	padding: 0 0 .2em 0
}
section article .contenedor1 .infoObsequiarte .txtInfoLab {
	font-size: 20px;
	line-height: 18px;
	margin: 0 0 0 5px;
	padding: 0 0 2em 0;
}
html{
	position: relative;
}

header nav {
	align-items: center;
	display: flex;
	padding: 1em 0
}

section article .contenedor1 .infoObsequiarte .banner {
	width: 300px;
}

section article .contenedor1 .formTienda .camposTxt{
	margin: 1em 0;
	display: block;
}

section article .contenedor2 .bloques {
	display: flex;
	align-items: top;
	position: absolute;
	padding: 0 0 4em 0;
}
.bloque1, .bloque2, .bloque3, .bloque4 {
	background-color: #f2f2f2;
	border-radius: 12px;
	display: inline-block;
	margin: 0 25px 0 0;
	overflow: hidden;
	width: 23%;
}

.bloque4 {
	margin: 0;
}
.txtBloque {
	overflow: hidden;
	padding: 1em;
	line-height: 16px;
}
.icon-mas{
	float: right;
	margin: .5em 0 0 0;
	width: 30px;
}
.añadir{
	margin: .5em 0 0 0;
	float: left;
	}
@media only screen and (max-width: 880px) {

	#infoTienda{
    	width: 100%;
    	display: block;
    	margin: 0 0 0 .5px;
  	}

  	section article .contenedor2 .bloques .bloque1 .bloque1 {
  		width: 100%;
  		display: block;
  		margin: 0;
  	}

  	.bloque2, .bloque3, .bloque4 {
  		width: 100%;
  		display: block;
  		margin: 0;
  		margin: 0 0 2em 0;
  	}

  	#bloqueAjax{
  		display: block;
  	}

  	#uno {
  		display: block;
  		width: 100%;
  		margin: 0 0 2em 0;
  	}

}

.contact_form h2, .contact_form label {
font-family: Georgia, Times, "Times New Roman", serif;
}
.form_hint, .notificacion-requiere {
font-size: 11px;
}
.contact_form ul {
width: 750px;
list-style-type: none;
list-style-position: outside;
margin: 0px;
padding: 0px;
}
.contact_form li {
padding: 12px;
border-bottom: 1px solid #eee;
position: relative;
}
.contact_form li:first-child, .contact_form li:last-child {
border-bottom: 1px solid #777;
}

.contact_form h2 {
margin: 0;
display: inline;
}

.notificacion-requiere {
color: #d45252;
margin: 5px 0 0 0;
display: inline;
float: right;
}

.contact_form label {
width: 150px;
margin-top: 3px;
display: inline-block;
float: left;
padding: 3px;
}
.contact_form input {
height: 20px;
width: 220px;
padding: 5px 8px;
}
.contact_form textarea {
padding: 8px;
width: 300px;
}
.contact_form button {
margin-left: 156px;
}

.contact_form input, .contact_form textarea {
border: 1px solid #aaa;
box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
border-radius: 2px;
padding-right: 30px;
-moz-transition: padding .25s;
-webkit-transition: padding .25s;
-o-transition: padding .25s;
transition: padding .25s;
}
.contact_form input:focus, .contact_form textarea:focus {
background: #fff;
border: 1px solid #555;
box-shadow: 0 0 3px #aaa;
padding-right: 70px;
}

.form_hint {
background: #d45252;
border-radius: 3px 3px 3px 3px;
color: white;
margin-left: 8px;
padding: 1px 6px;
z-index: 999;
position: absolute;
display: none;
}
.form_hint::before {
content: "\25C0";
color: #d45252;
position: absolute;
top: 1px;
left: -6px;
}
.contact_form input:focus + .form_hint {
display: inline;
}
.contact_form input:required:valid + .form_hint {
background: #28921f;
}
.contact_form input:required:valid + .form_hint::before {
color: #28921f;
}

button.submit {
background-color: #68b12f;
background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
background: -webkit-linear-gradient(top, #68b12f, #50911e);
background: -moz-linear-gradient(top, #68b12f, #50911e);
background: -ms-linear-gradient(top, #68b12f, #50911e);
background: -o-linear-gradient(top, #68b12f, #50911e);
background: linear-gradient(top, #68b12f, #50911e);
border: 1px solid #509111;
border-bottom: 1px solid #5b992b;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
box-shadow: inset 0 1px 0 0 #9fd574;
-webkit-box-shadow: 0 1px 0 0 #9fd574 inset;
-moz-box-shadow: 0 1px 0 0 #9fd574 inset;
-ms-box-shadow: 0 1px 0 0 #9fd574 inset;
-o-box-shadow: 0 1px 0 0 #9fd574 inset;
color: white;
font-weight: bold;
padding: 6px 20px;
text-align: center;
text-shadow: 0 -1px 0 #396715;
}
button.submit:hover {
opacity: .85;
cursor: pointer;
}
button.submit:active {
border: 1px solid #20911e;
box-shadow: 0 0 10px 5px #356b0b inset;
-webkit-box-shadow: 0 0 10px 5px #356b0b inset;
-moz-box-shadow: 0 0 10px 5px #356b0b inset;
-ms-box-shadow: 0 0 10px 5px #356b0b inset;
-o-box-shadow: 0 0 10px 5px #356b0b inset;
}

